.reviews__inner {
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
}

.review {
    flex: 1 1 33%;
    border: #000000 2px solid;
    border-radius: 12px;
    margin: 10px 12px;
    padding: 10px 12px;
    background-color: #fff;
}


.review h3 {
    text-transform: uppercase;
}


.review__date {
    font-weight: 300;
    font-style: italic;
}

.form-title {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

/* Стили для текстового поля ввода */
.review-form input {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 5px;
    border-radius: 12px;
    margin-bottom: 10px;
}